name: build
on: [push, pull_request]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: 3.4
            os: ubuntu-latest
          - ruby: 3.2
            os: windows-latest
    runs-on: ${{ matrix.os }}
    env:
      BUNDLE_BUILD__TORCH___RB: "--with-torch-dir=/home/runner/libtorch"
      LIBTORCH_VERSION: 2.9.1
    steps:
      - uses: actions/checkout@v5
      - uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            tmp
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - if: ${{ !startsWith(matrix.os, 'windows') }}
        uses: actions/cache@v5
        with:
          path: ~/libtorch
          key: libtorch-${{ env.LIBTORCH_VERSION }}
        id: cache-libtorch
      - name: Download LibTorch
        if: ${{ !startsWith(matrix.os, 'windows') && steps.cache-libtorch.outputs.cache-hit != 'true' }}
        run: |
          cd ~
          wget -q -O libtorch.zip https://download.pytorch.org/libtorch/cpu/libtorch-shared-with-deps-$LIBTORCH_VERSION%2Bcpu.zip
          unzip -q libtorch.zip
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      # https://github.com/oxidize-rb/rb-sys/issues/268
      - if: ${{ startsWith(matrix.os, 'windows') }}
        run: echo "RUST_TARGET=x86_64-pc-windows-gnu" >> "$env:GITHUB_ENV"
      - run: bundle exec rake compile
      - run: bundle exec rake test
